---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Marlogistic',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Contactanos',
        href: 'mailto:fabian@marlogistic.com.ar',
        target: '_blank',
        icon: 'tabler:mail',
      },
      { text: 'Saber Más', href: '#features' },
    ]}
    image={{ src: '~/assets/images/mar1.webp', alt: 'Marlogistic Hero Image' }}
  >
    <Fragment slot="title">
      Almacenamiento Confiable <span class="hidden xl:inline">para tu negocio</span>
      <span class="text-accent dark:text-white highlight"> Marlogistic</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Marlogistic</span> ofrece soluciones de almacenamiento y gestión de depósitos a nivel
        global. Con un equipo capacitado y tecnología avanzada, aseguramos seguridad y eficiencia en la gestión de tus bienes.</span
      >
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Características"
    title="Lo que obtienes con Marlogistic"
    subtitle="Nos comprometemos a ofrecer soluciones de almacenamiento de alta calidad adaptadas a tus necesidades. Descubre las ventajas de trabajar con nosotros."
    items={[
      {
        title: 'Almacenamiento Personalizado',
        description: 'Espacios diseñados a medida para satisfacer las necesidades específicas de cada cliente.',
        icon: 'tabler:server',
      },
      {
        title: 'Tecnología de Vanguardia',
        description: 'Equipos y sistemas avanzados para optimizar todos los procesos logísticos.',
        icon: 'tabler:components',
      },
      {
        title: 'Seguridad 24/7',
        description:
          'Vigilancia continua y protocolos estrictos para garantizar la protección de los bienes almacenados.',
        icon: 'tabler:shield',
      },
      {
        title: 'Logística Integrada',
        description:
          ' Soluciones completas que incluyen transporte y distribución, facilitando toda la cadena de suministro.',
        icon: 'tabler:tir',
      },
      {
        title: 'Optimización de Espacios',
        description:
          'Soluciones innovadoras para maximizar el uso del espacio disponible, reduciendo costos y mejorando la eficiencia.',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Servicio al Cliente Dedicado',
        description:
          'Un equipo de profesionales siempre disponible para ofrecer soporte y resolver cualquier inquietud.',
        icon: 'tabler:headset',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    id="quienes"
    tagline="Quienes somos?"
    title="Experiencia Comprobada."
    items={[
      {
        title: 'Respuesta Rápida',
        description:
          'Estamos preparados para responder rápidamente a cualquier necesidad o emergencia de nuestros clientes.',
      },
      {
        title: 'Transparencia',
        description: 'Ofrecemos total transparencia en todas nuestras operaciones y procesos.',
      },
      {
        title: 'Cumplimiento Normativo',
        description: 'Nos aseguramos de cumplir con todas las regulaciones y normativas aplicables.',
      },
    ]}
    image={{
      src: '~/assets/images/mar5.webp',
      alt: 'Imagen de depósito',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Control de Calidad Riguroso</h3>
      Contamos con años de experiencia en la industria logística, respaldados por casos de éxito.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Automatización',
        description: `Implementamos sistemas automatizados para optimizar la eficiencia operativa.`,
      },
      {
        title: 'Innovación Continua',
        description: 'Nos esforzamos constantemente en mejorar y adoptar nuevas tecnologías.',
      },
      {
        title: 'Facilidad de Acceso',
        description: 'Nuestras instalaciones están ubicadas estratégicamente para facilitar el acceso.',
      },
      {
        title: 'Escalabilidad',
        description: 'Podemos ajustar nuestros servicios para empresas de cualquier tamaño.',
      },
    ]}
    image={{
      src: '~/assets/images/mar7.webp',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Garantizamos tu satisfacción con servicios de almacenamiento personalizados.</Fragment
    ></Content
  ></Layout
>
